!!!
%html
  %head
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M", crossorigin: "anonymous"}
    %link{href: "/css/app.css", rel: "stylesheet"}

  %body
    %nav.navbar.navbar-expand.navbar-dark.bg-dark
      %a.navbar-brand{href: '/'} Workshop DB02

      .navbar-collapse
        .navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{href: "/joins/inner"} 1. INNER JOIN
          %li.nav-item
            %a.nav-link{href: "/joins/left"} 2. LEFT JOIN
          %li.nav-item
            %a.nav-link{href: "/joins/right"} 3. RIGHT JOIN
          %li.nav-item
            %a.nav-link{href: "/joins/full"} 4. FULL JOIN
          %li.nav-item
            %a.nav-link{href: "/joins/cross"} 5. CROSS JOIN

    .container
      = yield

    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity: "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin: "anonymous"}

