%h1 FULL JOIN

%p
  %pre
    %code
      T1 FULL [OUTER] JOIN T2 ON boolean_expression
      T1 FULL [OUTER] JOIN T2 USING ( join column list )
      T1 NATURAL FULL [OUTER] JOIN T2

%p
  %img{src: '/images/img_fulljoin.gif'}
