%h1 INNER JOIN

%p
  %pre
    %code
      T1 [INNER] JOIN T2 ON boolean_expression
      T1 [INNER] JOIN T2 USING ( join column list )
      T1 NATURAL [INNER] JOIN T2

%p
  %img{src: '/images/img_innerjoin.gif'}

%p
