%h1 LEFT JOIN

%p
  %pre
    %code
      T1 LEFT [OUTER] JOIN T2 ON boolean_expression
      T1 LEFT [OUTER] JOIN T2 USING ( join column list )
      T1 NATURAL LEFT [OUTER] JOIN T2

%p
  %img{src: '/images/img_leftjoin.gif'}

