%h1 RIGHT JOIN

%p
  %pre
    %code
      T1 RIGHT [OUTER] JOIN T2 ON boolean_expression
      T1 RIGHT [OUTER] JOIN T2 USING ( join column list )
      T1 NATURAL RIGHT [OUTER] JOIN T2

%p
  %img{src: '/images/img_rightjoin.gif'}
